.pagination{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .page-num{
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 200;
  color: black;
  text-decoration: none;
}

.pagination .page-num:hover{
  background-color: #bfbec1;
  color:#611fcb;
}

.pagination .active{
  background-color: #611fcb;
  border-radius: 3px;
}